<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}
    {% load my_template_tags %}
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/mycss.css' %}" rel='stylesheet'>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/room.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>

{% if availability_result.1 == 200 %}

            
    <div class="container">
        <div class="row">
                        
            <div class="col-md-4">
                                
                            
            </div>
            <div class="col-md-4">
                  
                <div class="container_info"
                     style="padding-top:150px; opacity: 0.9;">
                                
                    <div class="panel panel-primary">
                                        
                        <form method="POST" action="{% url 'main:book' %}">
                        {% csrf_token %}
                        <div style="align-content: center; text-align: center">
                             <h1>{{ hotel_name }}</h1>
                            </div>
                        <div>
                            <input type="hidden" name="product_code" value="{{ product_code }}">
                        </div>

                            <div style="align-content: center; text-align: center">
                                {{ final_price }} {{ availability_result.0.currency }}
                            </div>
                            <div style="align-content: center; text-align: center">
                                {{ availability_result.0.meal_type  }}
                            </div>
                            <div style="align-content: center; text-align: center">
                                {{  availability_result.0.rooms.0.room_category }}
                            </div>
                        <div style="align-content: center; text-align: center">
                                {{  availability_result.0.rooms.0.room_description }}
                            </div>
                           <div style="align-content:center; text-align: center">
                                    User Email
                                </div>
                                <div style="align-content:center; text-align: center">
                                    <input type="email"
                                           name="mail"
                                           style="text-align: center"required>
                                </div>
                                                 
                            {% for index in pax_generator %}
                                                    
                                <div style="align-content:center; text-align: center">
                                    Name
                                </div>
                                <div style="align-content:center; text-align: center">
                                    <input type="text"
                                           name="pax_name"
                                           style="text-align: center"required>
                                </div>
                                                    
                                                   {% endfor %}
                               
                            <div style="align-content:center; text-align: center">
                                <input type="submit" class="btn btn-danger"
                                   style="align-items: center; width: 120px;" value="Book"> </input>
                            </div>
                                
                                  
                        </form>
                                    
                    </div>
                                
                            
                </div>
                        
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>


        {% endif %}
    {% if avabilaty_result != 200 %}

           

        {% endif %}

</body>
</html>