<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Names</th>
        <th>Email</th>
        <th>Room Description</th>
          <th>Room Type</th>
        <th>Hotel Name</th>
        <th>Price</th>
          <th>Time</th>

      </tr>
    </thead>

    <tbody>
    {% for item in data %}
      <tr class="success">
        <td>{{ item.pax_names }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.room_description }}</td>
          <td>{{ item.room_type }}</td>
        <td>{{ item.hotel_name }}</td>
        <td>{{ item.price }}</td>
              <td>{{ item.book_time }}</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>
