<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>NoRoom</title>
    <title>Login</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static 'css/mycss.css' %}" rel='stylesheet'>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/room.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div style="margin-top: 250px;align-content: center;">
        <!-- Default panel contents -->
        <div style="background-color:lightyellow;opacity: 0.8; font-size:40px; text-align: center; color:darkorange; font-family:'Big Caslon';">
            {% if param == 'room_not_ava' %}
                Sorry, Room Not Available



            {% else %}
                Unfortunately, no available rooms match your filter selections


            {% endif %}

        </div>
        {% if param == 'room_not_ava' %}

        <div style="text-align: center;margin-top: 10px;">
                    <a href="{% url 'main:hotel' %}" class="btn btn-primary">Back To The Hotel's Page</a>


                </div>
        {% else %}
        <div style="text-align: center;margin-top: 10px;">
                    <a href="{% url 'main:index' %}" class="btn btn-primary">Back To The Search Page</a>
                </div>
    {% endif %}
    </div>
</div>
</body>
</html>
